# Lecture 4.1: Functions & Dictionaries

Up to this point, we've only written basic blocks of code. We've been able to change inputs by changing the values stored in variables and then re-running the cell. What would be better is if we had a *function* that allowed us to re-use this block of code over and over again without having to copy or change anything. This would also allow us to combine calculations or code blocks more easily.

Eventually, we will organize these functions in a single file to create a python *module* that so we can easily use our functions in future projects without needing to write anything new.

## How to Write a Function in Python

Functions in Python have the following basic structure

```
def function_name(parameters):
    """
    Docstring (optional) to explain what the function does.
    """
    
    # Function body: Statements that define the function's behavior
    statement_1
    statement_2
    # ... more statements
    
    return value  # Optional: Return a result or value (if needed)
```

* `def` – A function starts with the `def` keyword, followed by the function name, and parentheses `()` that may include parameters.
* `function_name` – The name of the function (it should be descriptive of what the function does). It must follow the same rules for defining variables.
* `parameters` – A list of inputs that the function accepts. Inside the parentheses, you can define parameters (also known as arguments) that the function will accept. These are optional; a function can have no parameters.
* Colon `:` - After the parentheses, a colon : is used to indicate the start of the function's body.
* Function Body – The body of the function contains the statements that define what the function does. The body must be indented (typically 4 spaces i.e. a single tab) to indicate it is part of the function.
* Docstring (optional) – A string in triple quotes `"""` that describes what the function does. It's optional but recommended for clarity. Think of this as an important comment for your function that anyone should read if they need more information.
* `return` (optional) – Used to return a value to the caller. The function may include a return statement to send a result back to where the function was called. This is optional; if no return is used, the function will return None by default.

## An Example Function - from Mathematics

First, we need to *define* the function.

Let's relate this to what we've seen in other math classes. Suppose we want to define the function $f(x) = x^2$. This would have the python syntax seen below.
```
def f(x):
    return x**2
```

The `def` tells python that we are defining a function, `f` is what we are naming the function (and how we will call it in the future), and `return` is what we will get as an output or result. A function does not always need a `return` statement.

> &#128187; **Tech Note**  
When using a jupyter notebook, the output will automatically be printed to the screen. This will not be the case if we called this function within a script file unless we include a print statement.

Not all function output should be printed - sometimes we need to use the result of one function inside another function.

In [ ]:
def f(x):
    """
    This function calculates the value of x*x
    """
    return x**2

Second, we will *call* the function in order to use it.

In [ ]:
# use a function once
f(2)

4

In [ ]:
# use a function in a list
[f(2), f(4), f(5), f(36)]

[4, 16, 25, 1296]

In [ ]:
# use a function repeatedly in a loop
vals = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

for i in range(len(vals)):

    print(f(vals[i]))

1
4
9
16
25
36
49
64
81
100

In [ ]:
# we can nest functions

f(f(2)) # calculates (2^2)^2 = 2^4

16

## An Example Function - Using strings

We can define a function outside of mathematical applications. Below we define a function that concatenates two strings (i.e. add them together).

In [ ]:
def concatenate_strings(string1, string2):
    """
    This function takes two strings and returns their concatenation.
    """
    result = string1 + string2
    return result

Note that our inputs to the function do not need to have the same names that they do in the function definition.

In [ ]:
first_part = 'This is the first part '
second_part = 'and this is the second part'

concatenate_strings(first_part, second_part)

'This is the first part and this is the second part'

We can also store the output of our function in a variable

In [ ]:
thing_1 = 'The first thing '
thing_2 = 'and the second thing'

things_together = concatenate_strings(thing_1, thing_2)

# to see the result, use a print statement
print(things_together)

The first thing and the second thing

#### Try it yourself

In the blank code cell below, write a function called `generate_quest` that turns the following code block into a function

In [ ]:
# quest variables
objective = 'retrieve a lost artifact'
location = 'a forgotten temple'
obstacle = 'protected by an ancient curse'
reward = 'a legendary weapon'

# quest prompt string
quest = f'Your mission is to {objective} in {location}, but it is {obstacle}. If successful, you will receive {reward}.'

# print quest

print(quest)

Your mission is to retrieve a lost artifact in a forgotten temple, but it is protected by an ancient curse. If successful, you will receive a legendary weapon.

In [32]:
# # quest generator function

## attempt 1
# def quest_generator():
#   # quest variables
#   objective = 'retrieve a lost artifact'
#   location = 'a forgotten temple'
#   obstacle = 'protected by an ancient curse'
#   reward = 'a legendary weapon'

#   # quest prompt string
#   quest = f'Your mission is to {objective} in {location}, but it is {obstacle}. If successful, you will receive {reward}.'

#   # print quest

#   print(quest)

# # run the function
# quest_generator()

## attempt 2

# def quest_generator(objective, location, obstacle, reward):

#   # quest prompt string
#   quest = f'Your mission is to {objective} in {location}, but it is {obstacle}. If successful, you will receive {reward}.'

#   # print quest

#   print(quest)

# # quest variables
# objective = 'retrieve a lost artifact'
# location = 'a forgotten temple'
# obstacle = 'protected by an ancient curse'
# reward = 'a legendary weapon'

# # run the function
# quest_generator(objective, location, obstacle, reward)

## attempt 3

def quest_generator(objective, location, obstacle, reward):

  # quest prompt string
  quest = f'Your mission is to {objective} in {location}, but it is {obstacle}. If successful, you will receive {reward}.'

  # print quest

  return quest

# quest variables
objective = 'retrieve a lost artifact'
location = 'a forgotten temple'
obstacle = 'protected by an ancient curse'
reward = 'a legendary weapon'

# run the function
game_start = quest_generator(objective, location, obstacle, reward)
game_start

'Your mission is to retrieve a lost artifact in a forgotten temple, but it is protected by an ancient curse. If successful, you will receive a legendary weapon.'

## Dictionaries

This was covered in Lecture 1.2 but we'll expand on how to use dictionaries here.

Dictionaries work like phone books (if you even know what those are). To find a phone number in a phone book, you look up the person's name, then get the number. The names in dictionaries are called _keys_ and the phone numbers are _values_. These are refered to as _key - value pairs_.

In [ ]:
fruit_prices = {
    'apple': 3,
    'banana': 5,
    'cherry': 2,
    'date': 8,
    'elderberry': 6
}

### Accessing elements of a dictionary

You access values by using the key in square brackets `[]` or with the `get()` method.

In [ ]:
print(fruit_prices['apple'])  # Output: Alice

print(fruit_prices.get('date'))  # Output: 25

3
8

Checking if a key is in the dictionary

In [ ]:
if 'cherry' in fruit_prices:
    print('Key exists')

Key exists

### Iterating over dictionaries

We can iterate over the keys, values or both.

In [ ]:
# Iterating over keys
for key in fruit_prices.keys():
    print(key)

apple
banana
cherry
date
elderberry

In [ ]:
# Iterating over values
for value in fruit_prices.values():
    print(value)

3
5
2
8
6

In [ ]:
# Iterating over key-value pairs
for key, value in fruit_prices.items():
    print(key, value)

apple 3
banana 5
cherry 2
date 8
elderberry 6

### Adding, modifying, or removing dictionary items

In [ ]:
# modify a value
fruit_prices['apple'] = 4

fruit_prices['apple']

4

In [ ]:
# add a key value pair
fruit_prices['grape'] = 1

# print fruit prices to check
print(fruit_prices)

{'apple': 4, 'banana': 5, 'cherry': 2, 'date': 8, 'elderberry': 6, 'grape': 1}

In [ ]:
# removing a key value pair

del fruit_prices['apple']

# print fruit prices to check
print(fruit_prices)

{'banana': 5, 'cherry': 2, 'date': 8, 'elderberry': 6, 'grape': 1}

#### Try it yourself

You may be familiar with the standard 6 sided die. There are other die that are used in table top games that have a differing number of sides. Values for common dice used are 4 sided (d4), 8 side (d8), 10 sided (d10), 20 sided (d20), and 100 sided (d100).

Define a dictionary that stores the value of each type of die. Use the abbreviations (d4, d6, d8, etc) as the keys and an integer value for the number of sides.

In [35]:
# dice set dictionary
dice_set = {
    'd4' : 4,
    'd6' : 6,
    'd8' : 8,
    'd10' : 10
}

In [34]:
print(dice_set['d6'])
print(dice_set['d10'])

6
10